Django==3.2.16
Python==3.7.9

pipenv install djangorestframework

Node.js

https://www.youtube.com/watch?v=f1R_bykXHGE
minuta: 3:35:51

Na filmiku używa bash'a
Żeby wejść w utworzone wirtualne środowisko w bashu wpisz komende: pipenv shell

Uruchomienie strony: ./manage.py runserver
Wyłączenie strony: ctrl+C

Stworzenie konta administratora:
./manage.py createsuperuser
Strona: 127.0.0.1:8000/admin

Stworzone konta adminów:
User: zosia
Email: [puste]
Hasło: zosia

User:
Email:
Hasło:

User:
Email:
Hasło: