<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% include 'react/base_embed.html'%}
    <style>
      .bg-dogter {
        background-color: #168f91;
      }
    </style>
    <title>Dogter {% block head_title %}{% endblock head_title %}</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% include "components/navbar.html" %}
    <div class="container">{% block content %} {% endblock content %}</div>

    {% include 'react/base_embed.html'%}
</html>
